html, body {
    overflow: hidden;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#header img {
    width: 200px;
    height: auto;
    float: right;
    padding: 10px 50px 50px 50px;
    background-color: #ffffff;
}

.first-texts {
    font-size: 35px;
    padding-left: 50px;
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.one-row {
    display: flex;
    padding-bottom: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.two-columns {
flex:auto;
  padding-left: 50px;
}

.chair {
    width: 400px;
    height: auto;
    margin-top: -260px;
    padding-left: 300px;
}

.button {
    background-color: black;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}

h3 {
    margin-top: 120px;
}


/* For Mobile Devices */

@media only screen and (max-width:420px) {
    html, body {
    margin: 0px;
    }
}


@media only screen and (max-width:420px) {
    #header img {
        float: none;
    }
}


@media only screen and (max-width:420px) {
    .first-texts {
        font-size: 20px;
        padding-left: 25px;
        padding-top: 10px;
    }
}


@media only screen and (max-width:420px) {
    .two-columns {
        padding-left: 25px;
      }
}

@media only screen and (max-width:420px) {
    .chair {
        width: 100px;
        height: auto;
        margin-top: 50px;
        padding: 10px;
    }
}


@media only screen and (max-width:420px) {
    .button {
        background-color: black;
        color: #ffffff;
        padding: 10px;
        text-decoration: none;
        font-size: 8px;
        max-width: 100%;
        white-space: nowrap;
    }
}

@media only screen and (max-width:420px) {
    h3 {
        font-size: 20px;
        margin-top: 100px;
    }
}